body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* max-width: 100vw; */
    /* overflow-x: hidden; */

}

/* WELCOME HTML */
.home2{
    width: 100%;
    height: 650px;
    /* border: 2px solid red; */

}
.navbar2{
    width: 100%;
    height: 100px;
    border: 1px solid red;
    background-color: red;
    display: flex;
    align-items: center;
}
.backicon{
    width: 30%;
    height: 30px;
    /* border: 1px solid white; */

}

.welcometext{
    width: 30%;
    height: 30px;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    color: white;
    margin-left: 50px;
}
.zenithlogo2{
    width: 35%;
    height: 30px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-end;
}
.account{
    margin-left: 25%;
    margin-top: 20px;
}
#accountnumber{
    width: 50%;
    height: 25px;
    margin-left: 25%;
    margin-bottom: 10px;
}
.password{
    margin-left: 25%;
}
#password{
    width: 50%;
    height: 25px;
    margin-left: 25%;
}
.remember{
    margin-left: 25%;
    margin-top: 10px;
}
#signin{
    width: 70%;
    height: 40px;
    background-color: red;
    border-radius: 3px;
    margin-top: 3%;
    margin-left: 15%;
    color: white;
}
.forget{
    width: 30%;
    height: 20px;
    /* border: 1px solid red; */
    margin-left: 46%;
    margin-top: 15px;
}
.continue{
    width: 50%;
    height: 20px;
    /* border: 1px solid red; */
    margin-left: 43%;
    margin-top: 15px;

}

@media screen and (max-width: 576px){
    .navbar2{
        height: 100px;
    }
.home2{
    height: 910px;
    overflow-x: hidden;
    overflow-y: hidden;

}
.welcometext{
    margin-left: 30px;
    margin-top: 5%;
}
.zenithlogo2{
    margin-right: 10px;
    margin-top: 5%;
}
.account{
    width: 80%;
    margin-left: 15%;
    margin-top: 10%;
}
#accountnumber{
    width: 70%;
    margin-left: 15%;
    
}
.password{
    margin-left: 15%;
    margin-top: 3%;
}
#password{
    width: 70%;
    margin-left: 15%;
}
.remember{
    margin-left: 15%;
}
#signin{
    margin-left: 16%;
}
.forget{
    margin-left: 40%;
}
.continue{
    margin-left: 33%;
}

}
